<!doctype html>
<html ng-app>

<head>
    <title>Angular Calculator</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular.min.js"></script>

</head>

<body>

    <h1>My name is:</h1>
    <input type="text" ng-model="name" /> {{name}}
    <div data-ng-init="names=['john','sasha']" />
    <ul>
        <li ng-repeat="item in names">{{item | uppercase}}</li>
    </ul>
    <h3>My number check:</h3>
    {{4+3}}
    <table>
        <tr>
            <th>Row number</th>
        </tr>
        <tr ng-repeat="i in [0, 1, 2, 3, 4, 5, 6, 7]">
            <td>{{i+1}}</td>
        </tr>
    </table>


</body>

</html>